button {
  display: flex;
  align-items: center;
  padding: 10px;
  color: #d7dadc;
  font-weight: bold;
  font-size: 14px;
  background-color: transparent;
  border: none;
  border-radius: 20px;
  cursor: pointer;

  &.primary {
    color: #1a1a1b;
    background-color: #d7dadc;
    &:hover {
      background-color: #c8cbcd;
    }
  }
  &.secondary {
    color: #7f8283;
    &:hover {
      background-color: #29292a;
    }
  }
  &.action {
    color: #808384;
    font-size: 12px;
    border-radius: 2px;
    &:hover {
      background-color: #29292a;
    }
  }

  &.selected {
    color: #d7dadc;
    background-color: #272729;
    &:hover {
      background-color: #353537;
    }
  }

  &.tab {
    background-color: transparent;
    &.selected {
      color: #fff;
      text-decoration: underline;
      background-color: transparent;
    }
    &:hover {
      text-decoration: underline;
    }
  }

  i {
    margin-right: 5px;
  }
}
