:host {
  button {
    display: flex;
    align-items: center;
    padding: 10px;
    color: #d7dadc;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    cursor: pointer;

    &.primary {
      color: #1a1a1b;
      background-color: #d7dadc;
    }
    &.secondary {
      background-color: #1a1a1b;
    }
    &.selected {
      background-color: #272729;
    }

    img {
      width: 16px;
      height: 16px;
      margin-right: 5px;
    }
  }
}
