:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 8px;
  border-bottom: 1px solid #343536;

  .header-img-container {
    min-height: 80px;
    background-color: rgb(0, 81, 156);
  }

  .control-panel {
    display: grid;
    grid-template-areas:
      '. info info info info info info .'
      '. tabs tabs tabs tabs tabs tabs .';
    grid-template-columns:
      calc(50vw - 330px)
      repeat(6, 1fr)
      calc(50vw - 330px);
    background-color: rgb(36, 36, 36);

    ana-tabs {
      grid-area: tabs;

      ana-button {
        margin: 0;
      }
    }

    .info-container {
      display: grid;
      grid-area: info;
      grid-template-areas: 'logo title title title . button';
      grid-template-columns: 0.6fr repeat(5, 1fr);

      ana-image {
        grid-area: logo;
        justify-self: right;
        margin-top: -25px;
      }

      ana-title {
        grid-area: title;
      }

      ana-button {
        grid-area: button;
        margin-top: 10px;
      }
    }
  }
}
