.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: #d7dadc;
  background-color: #1a1a1b;
  border: 1px solid #343536;
  border-radius: 5px;

  > .left,
  > .right {
    width: 40px;
  }

  .main-content {
    width: 100%;
  }

  &.hoverable {
    &:hover {
      border-color: #808384;
      cursor: pointer;
    }
  }
}
