.card {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  color: #d7dadc;
  background-color: #1a1a1b;
  border: 1px solid #343536;
  border-radius: 5px;

  > .left,
  > .right {
    display: flex;
    justify-content: center;
    width: 60px;
  }

  .main-content {
    width: 100%;
  }

  &.hoverable {
    &:hover {
      border-color: #808384;
      cursor: pointer;
    }
  }

  &.filters {
    padding: 10px;
  }
}
